<form action="/articles" method="post">
  <p for="title">Title</p>
  <input id="title" type="text" name="title" />
  <p for="content">Content</p>
  <p id="content" type="text" name="content"></p>
  <input type="submit" />
</form>
